<div class="container section-article-thirteen">
    <div class="row">
        <div class="col-lg-7 col-12">
            <div class="header">
                <h2 class="title">
                    <span>{% trans %}article{% endtrans %}</span>&nbsp;<span class="highlight">13</span></h2>
                <p class="tagline">{% trans %}article_tagline{% endtrans %}</p>
                <p class="explainer">{% trans %}article_explainer{% endtrans %}</p>
            </div>
        </div>
    </div>

    <div class="row content-pair d-flex">
        <div class="col-lg-4 col-12 box-wrapper d-flex">
            <div class="box box-reddit d-flex">
                <img src="{{ asset('build/static/reddit.png') }}">
            </div>
        </div>
        <div class="col-lg-6 col-12 text">
            <h3 class="title">{% trans %}article_reddit_title{% endtrans %}
                <span class="highlight">{% trans %}article_reddit_title_highlight{% endtrans %}</span></h3>
            <p class="content">{% trans %}article_reddit_content{% endtrans %}</p>
        </div>
    </div>
    <div class="row content-pair d-flex">
        <div class="col-lg-4 col-12 box-wrapper d-flex">
            <div class="box box-link d-flex">
                <img src="{{ asset('build/static/link.png') }}">
            </div>
        </div>
        <div class="col-lg-6 col-12 text">
            <h3 class="title">{% trans %}article_link_title{% endtrans %}
                <span class="highlight">{% trans %}article_link_title_highlight{% endtrans %}</span></h3>
            <p class="content">{% trans %}article_link_content{% endtrans %}</p>
        </div>
    </div>
    <div class="row content-pair d-flex">
        <div class="col-lg-4 col-12 box-wrapper d-flex">
            <div class="box box-pepe d-flex">
                <img src="{{ asset('build/static/pepe.png') }}">
            </div>
        </div>
        <div class="col-lg-6 col-12 text">
            <h3 class="title">{% trans %}article_pepe_title{% endtrans %}
                <span class="highlight">{% trans %}article_pepe_title_highlight{% endtrans %}</span></h3>
            <p class="content">{% trans %}article_pepe_content{% endtrans %}</p>
        </div>
    </div>
</div>
