<div class="countdown">
    <div class="container">
        <div class="row d-flex">
            <div class="col-12 col-lg-6 description">
                <h1>Time is running out</h1>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                <p>Dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.</p>
            </div>
            <div class="col-12 col-lg-6 timer d-flex">
                <div class="countdown-output">
                    <div class="ccount d-flex">
                        <p class="days"><span class="cdays">0</span> <span class="ndays">{% trans %}Days{% endtrans %}</span></p>
                        <p class="hours"><span class="chours">0</span> <span class="nhours">{% trans %}Hours{% endtrans %}</span></p>
                    </div>
                    <!--<div class="cexpired">
                        {% trans %}The EU is currently debating{% endtrans %}.
                    </div>-->
                </div>
            </div>
        </div>
        <div class="body">

        </div>
    </div>
</div>