<div class="graphic-box">
    <div class="container">
        <div class="row">
            <div class="col-12 voxel-wrapper">
                <img class="voxel" src="{{ asset('build/static/voxel.png') }}">
            </div>
        </div>
        <div class="row">
            <div class="col-12 text">
                <div class="row">
                    <div class="content col-12 col-md-6">
                        <h2 class="title">{% trans %}graphic_box_title1{% endtrans %}</h2>
                        <p>{{ 'graphic_box_content1'|trans|nl2br }}</p>
                    </div>
                    <div class="content col-12 col-md-6">
                        <h2 class="title">{% trans %}graphic_box_title2{% endtrans %}</h2>
                        <p>{{ 'graphic_box_content2'|trans|nl2br }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
