<div class="graphic-box">
    <div class="container">
        <div class="row">
            <div class="col-12 voxel-wrapper">
                <img class="voxel" src="{{ asset('build/static/voxel.png') }}">
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</div>