<div class="graphic-box">
    <div class="container">
        <div class="row">
            <div class="col-12 voxel-wrapper">
                <img class="voxel" src="{{ asset('build/static/voxel.png') }}">
            </div>
        </div>
        <div class="row">
            <div class="col-12 text">
                <h2 class="title">{% trans %}graphic_box_title{% endtrans %}</h2>
                    <div class="row">
                        <p class="content col-12 col-md-6">{{ 'graphic_box_content1'|trans|nl2br }}</p>
                        <p class="content col-12 col-md-5">{{ 'graphic_box_content2'|trans|nl2br }}</p>
                    </div>
            </div>
        </div>
    </div>
</div>
