<div class="image-split">
    <div class="container">
        <div class="row d-flex">
            <div class="col-6 d-none d-sm-block image-wrapper">
                <img class="watcheye" src="{{ asset('build/static/scroll.png') }}">
            </div>
            <div class="col-12 col-sm-6 text">
                <h2 class="title">{{ 'image_split_title'|trans|nl2br }}</h2>
                <p class="content">{{ 'image_split_content'|trans|nl2br }}</p>
            </div>
        </div>
    </div>
</div>
