<div class="image-split">
    <div class="container">
        <div class="row d-flex">
            <div class="col-6 d-none d-sm-block image-wrapper">
                <img class="watcheye" src="{{ asset('build/static/scroll.png') }}">
            </div>
            <div class="col-12 col-sm-6 text">
                <h2 class="title">{% trans %}image_split_title{% endtrans %}</h2>
                <p class="content">{% trans %}image_split_content{% endtrans %}</p>
            </div>
        </div>
    </div>
</div>
