<div class="container map-container">
    <div class="row">
        <div class="col-12">
            <h1 class="heading">{% trans %}near_demos{% endtrans %}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-8">
            <div id="map" class="map"></div>
        </div>
        <div class="col-12 col-lg-4 map-list" id="map-list"></div>
    </div>
</div>
