<div class="container map-container">
    <div class="row">
        <div class="col-12">
            <h1 class="heading">{% trans %}near_demos{% endtrans %}</h1>

            <p>{% trans %}near_demos_content1{% endtrans %}</p>
            <p>{% trans %}near_demos_content2{% endtrans %}</p>
            <p>{% trans %}near_demos_content3{% endtrans %}</p>
            <p>{% trans %}near_demos_content4{% endtrans %}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="map" class="map map-loader">
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=11FTfbx7UKU_MznD8wevgqnSTMII8_hjS&ll=57.24878299113671%2C-5.9132355062499755&z=5"></iframe>
                <span class="fa loader fa-spinner fa-spin"></span>
            </div>
        </div>
    </div>
</div>
