<div class="container map-container">
    <div class="row">
        <div class="col-12">
            <h1 class="heading">{% trans %}near_demos{% endtrans %}</h1>

            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="map" class="map map-loader">
                <iframe></iframe>
                <span class="fa fa-spinner fa-spin"></span>
            </div>
        </div>
    </div>
</div>
