<div class="container section-petition">
    <div class="body row">
        <div class="col-xl-1">
            <div class="image"></div>
        </div>
        <div class="col-xl-9">
            <div class="row">
                <div class="description col-md-8">
                    <div class="header">{% trans %}petition_title{% endtrans %}</div>
                    {% trans %}petition_content1{% endtrans %}<br>
                    {% trans %}petition_content2{% endtrans %}
                </div>
                <div class="action col-md-4">
                    <a href="#" class="btn-petition">{% trans %}petition_button{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
