<div class="container section-petition">
    <div class="body row">
        <div class="description col-md-7">
            <div class="header">{% trans %}Censorship? I'm out!{% endtrans %}</div>
            {% trans %}Give us your voice! Together we are strong!{% endtrans %}<br>
            {% trans %}We have created a petition to hand in and stop article 13.{% endtrans %}
        </div>
        <div class="action col-md-5">
            <a href="#" class="btn-petition">{% trans %}Visit Petition{% endtrans %}</a>
        </div>
    </div>
</div>