<div class="container section-twitter">
    <div class="row">
        <div class="col-6 col-12 col-md-6 col-lg-6">
            <h2>Hear what others say</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-6 col-12 col-md-6 col-lg-6" id="tweets">
            <div class="post-container" id="1006969762398834700">
                <div class="post-left"><img class="profile-pic"
                                            src="https://pbs.twimg.com/profile_images/966014225494806529/iczIcRQc_normal.jpg">
                </div>
                <div class="post-right">
                    <div class="post-header">
                        <div class="profile-name"><span class="profile-displayname">Totem!💃🏼😛🔥</span><span
                                class="profile-username"><a href="https://twitter.com/TotemMedia">@TotemMedia</a></span><span
                                class="post-time"> a day ago</span></div>
                    </div>
                    <div class="post-content">RT <a href="https://twitter.com/PattyMurray">@PattyMurray</a>: The
                        internet doesn’t belong to <a href="https://twitter.com/AjitPaiFCC">@AjitPaiFCC</a> and <a
                            href="https://twitter.com/realDonaldTrump.">@realDonaldTrump.</a> And this fight isn’t
                        over—we must keep doing everything w…
                    </div>
                </div>
            </div>
            <div class="post-container" id="1006965908559024100">
                <div class="post-left"><img class="profile-pic"
                                            src="https://pbs.twimg.com/profile_images/787471954248863744/KFY5cSNp_normal.jpg">
                </div>
                <div class="post-right">
                    <div class="post-header">
                        <div class="profile-name"><span class="profile-displayname">Vi Laytway</span><span
                                class="profile-username"><a
                                    href="https://twitter.com/Jammer430">@Jammer430</a></span><span class="post-time"> a day ago</span>
                        </div>
                    </div>
                    <div class="post-content">RT <a href="https://twitter.com/NARAL">@NARAL</a>: The Trump
                        administration FCC’s repeal of <a href="https://twitter.com/hashtag/NetNeutrality">#NetNeutrality</a>
                        is now in effect, but Congress still has time act. The Senate has alread…
                    </div>
                </div>
            </div>
            <div class="post-container" id="1006965448200605700">
                <div class="post-left"><img class="profile-pic"
                                            src="https://pbs.twimg.com/profile_images/978918586768068609/r-mxRY6Y_normal.jpg">
                </div>
                <div class="post-right">
                    <div class="post-header">
                        <div class="profile-name"><span class="profile-displayname">Barek Obema</span><span
                                class="profile-username"><a
                                    href="https://twitter.com/Bareck_Obema">@Bareck_Obema</a></span><span
                                class="post-time"> a day ago</span></div>
                    </div>
                    <div class="post-content"><a href="https://twitter.com/hashtag/EU">#EU</a> ist wieder mal dabei
                        <span data-line="CENSORED" class="blacked">lobbyistische</span> Kacke in Form des <a
                            href="https://twitter.com/hashtag/Leistungsschutzrecht">#Leistungsschutzrecht</a> insb. <a
                            href="https://twitter.com/hashtag/Artikel13">#Artikel13</a> zu verabschieden, d… <span
                            data-line="CENSORED" class="blacked"><a href="https://t.co/B2yutjtz55">https://t.co/B2yutjtz55</a></span>
                    </div>
                </div>
            </div>
            <div class="post-container" id="1006964573696651300">
                <div class="post-left"><img class="profile-pic"
                                            src="https://pbs.twimg.com/profile_images/773396660189814785/XAG3rpsu_normal.jpg">
                </div>
                <div class="post-right">
                    <div class="post-header">
                        <div class="profile-name"><span class="profile-displayname">charly (lotte)</span><span
                                class="profile-username"><a
                                    href="https://twitter.com/charlotte101987">@charlotte101987</a></span><span
                                class="post-time"> a day ago</span></div>
                    </div>
                    <div class="post-content">RT <a href="https://twitter.com/LionessLisaH">@LionessLisaH</a>: <a
                            href="https://twitter.com/hashtag/EU">#EU</a> wil het internet censureren 😡

                        ZEG NEE TEGEN BRUSSEL

                        <a href="https://twitter.com/hashtag/SaveTheInternet">#SaveTheInternet</a>

                        <span data-line="CENSORED" class="blacked"><a href="https://t.co/bN10QuP3gR">https://t.co/bN10QuP3gR</a></span>

                        Via <a href="https://twitter.com/NathanGillMEP">@NathanGillMEP</a></div>
                </div>
            </div>
            <div class="post-container" id="1006958645848965100">
                <div class="post-left"><img class="profile-pic"
                                            src="https://pbs.twimg.com/profile_images/976932461576966148/NNxa3nng_normal.jpg">
                </div>
                <div class="post-right">
                    <div class="post-header">
                        <div class="profile-name"><span class="profile-displayname">Christian Huml</span><span
                                class="profile-username"><a href="https://twitter.com/HumlChristian">@HumlChristian</a></span><span
                                class="post-time"> a day ago</span></div>
                    </div>
                    <div class="post-content"><a href="https://twitter.com/epicenter_works">@epicenter_works</a> Kein
                        Problem, ist doch selbstverständlich 🙂 <a href="https://twitter.com/hashtag/savetheinternet">#savetheinternet</a>
                    </div>
                </div>
            </div>
            <div class="post-container" id="1006955138504904700">
                <div class="post-left"><img class="profile-pic"
                                            src="https://pbs.twimg.com/profile_images/870549176651841536/2Fll13Hg_normal.jpg">
                </div>
                <div class="post-right">
                    <div class="post-header">
                        <div class="profile-name"><span class="profile-displayname">JP</span><span
                                class="profile-username"><a
                                    href="https://twitter.com/JJaazzee1">@JJaazzee1</a></span><span class="post-time"> a day ago</span>
                        </div>
                    </div>
                    <div class="post-content">RT <a href="https://twitter.com/FrankPallone">@FrankPallone</a>: Today I
                        spoke in support <a href="https://twitter.com/USRepMikeDoyle">@USRepMikeDoyle</a>’s amendment on
                        saving <a href="https://twitter.com/hashtag/NetNeutrality">#NetNeutrality</a>. 83% of Americans
                        support keeping the FCC’s…
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
