<div class="container section-twitter">
    <div class="row">
        <div class="col-6 col-12 col-md-6 col-lg-6">
            <h2>{% trans %}twitter_title{% endtrans %}</h2>
            <p>{% trans %}twitter_description{% endtrans %}</p>
        </div>
        <div class="col-6 col-12 col-md-6 col-lg-6" id="tweets">
        </div>
    </div>
</div>

