<div class="container section-video">
    <div class="row">
        <div class="col-12">
            {% embed "components/vimeo_video.html.twig" with {'id': '70184320'} %}{% endembed %}
        </div>
    </div>
</div>