<div class="container">
    <div class="row">
        <div class="video-player vjs-big-play-centered col-12" style="padding: 0; margin-top: 10px; margin-bottom: 10px;">
            <video id="video"
                   class="video-js"
                   controls
                   preload="auto"
                   data-setup='{}'>
                <source src="{{ absolute_url(asset('build/static/video/de_save_the_internt_1080p.mp4')) }}"
                        type="video/mp4">
            </video>
        </div>
    </div>
</div>
