<div class="container">
    <div class="row">
        <div class="video-player col-12">
            <video id="video"
                   class="video-js"
                   controls
                   preload="auto"
                   poster="//vjs.zencdn.net/v/oceans.png"
                   data-setup='{}'>
                <source src="http://distribution.bbb3d.renderfarming.net/video/mp4/bbb_sunflower_1080p_60fps_normal.mp4"
                        type="video/mp4">
            </video>
        </div>
    </div>
</div>
