<div class="container section-what-do">
    <div class="row">
        <div class="col-12">
            <h1 class="heading">{% trans %}what_do_title{% endtrans %}</h1>
        </div>
    </div>

    <div class="row icon-pair d-flex">
        <div class="col-3 col-lg-2 icon d-flex">
            <img src="{{ asset('build/static/Share.svg') }}">
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-7 text">
            <h2 class="title">{% trans %}what_do_share{% endtrans %}</h2>
            <p class="content">{% trans %}what_do_share_content{% endtrans %}</p>
        </div>
        <div class="col-3 icon d-none d-sm-block"></div>
    </div>

    <div class="row icon-pair d-flex">
        <div class="col-3 col-lg-2 icon d-flex">
            <img class="d-lg-none" src="{{ asset('build/static/Mail.svg') }}">
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-7 text">
            <h2 class="title">{% trans %}what_do_mail{% endtrans %}</h2>
            <p class="content">{% trans %}what_do_mail_content{% endtrans %}</p>
        </div>
        <div class="col-sm-3 d-none d-lg-block icon">
            <img src="{{ asset('build/static/Mail.svg') }}">
        </div>
    </div>

    <div class="row icon-pair d-flex">
        <div class="col-3 col-lg-2 icon d-flex">
            <img src="{{ asset('build/static/Call.svg') }}">
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-7 text">
            <h2 class="title">{% trans %}what_do_call{% endtrans %}</h2>
            <p class="content">{% trans %}what_do_call_content{% endtrans %}</p>
        </div>
        <div class="col-3 icon d-none d-sm-block"></div>
    </div>

</div>
