<div class="container section-what-do">
    <div class="row">
        <div class="col-12">
            <h1>This is what you can do</h1>
        </div>
    </div>

    <div class="row icon-pair d-flex">
        <div class="col-3 col-lg-2 icon d-flex">
            <img src="{{ asset('build/static/share.png') }}">
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-7 text">
            <h2 class="title">Share this page</h2>
            <p class="content">Lorem ipsum dolor sit amet, conse magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea.</p>
        </div>
        <div class="col-3 icon d-none d-sm-block"></div>
    </div>

    <div class="row icon-pair d-flex">
        <div class="col-3 col-lg-2 icon d-flex">
            <img class="d-lg-none" src="{{ asset('build/static/mail.png') }}">
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-7 text">
            <h2 class="title">Mail your MEP</h2>
            <p class="content">Lorem ipsum dolor sit amet, consetetur saded diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea.</p>
        </div>
        <div class="col-sm-3 d-none d-lg-block icon">
            <img src="{{ asset('build/static/mail.png') }}">
        </div>
    </div>

    <div class="row icon-pair d-flex">
        <div class="col-3 col-lg-2 icon d-flex">
            <img src="{{ asset('build/static/phone.png') }}">
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-7 text">
            <h2 class="title">Call your MEP</h2>
            <p class="content">Ipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea.</p>
        </div>
        <div class="col-3 icon d-none d-sm-block"></div>
    </div>

</div>