<div class="container section-article-thirteen">
    <div class="row">
        <div class="col-12">
            <div class="header">
                <h2 class="title">
                    <span>{% trans %}gallery_title{% endtrans %}</span>
                </h2>
                <br>
                <div class="gallery">
                    <a target="_blank">
                        <img src="https://s15.postimg.cc/9gmt7v2ln/suit-2619784_640.jpg" alt="Fjords" width="300" height="200">
                    </a>
                    <div class="desc">{% trans %}gallery_image_text1{% endtrans %}</div>
                </div>

                <div class="gallery">
                    <a target="_blank">
                        <img src="https://s15.postimg.cc/9gmt7v2ln/suit-2619784_640.jpg" alt="Forest" width="300" height="200">
                    </a>
                    <div class="desc">{% trans %}gallery_image_text2{% endtrans %}</div>
                </div>

                <div class="gallery">
                    <a target="_blank">
                        <img src="https://s15.postimg.cc/9gmt7v2ln/suit-2619784_640.jpg" alt="Northern Lights" width="300" height="200">
                    </a>
                    <div class="desc">{% trans %}gallery_image_text3{% endtrans %}</div>
                </div>

                <div class="gallery">
                    <a target="_blank">
                        <img src="https://s15.postimg.cc/9gmt7v2ln/suit-2619784_640.jpg" alt="Mountains" width="300" height="200">
                    </a>
                    <div class="desc">{% trans %}gallery_image_text4{% endtrans %}</div>
                </div>
            </div>
        </div>
    </div>
</div>
