<div class="container section-article-thirteen">
    <div class="row">
        <div class="col-12">
            <div class="header">
                <h2 class="title">
                    <span>{% trans %}gallery_title{% endtrans %}</span>
                </h2>
                <br>
                <div class="gallery">
                    <a target="_blank" href="https://raw.github.com/NoSpread/eu_media/master/Freigegeben/Flyer/4x6/ILLEGAL-4x.pdf">
                        <img src="{{ absolute_url(asset('build/static/gallery/ILLEGAL-4x.png')) }}" alt="ILLEGAL-4x.pdf" width="300" height="200">
                    </a>
                    <div class="desc"><span class="flag-icon flag-icon-de"></span> <span class="label danger">PDF</span></div>
                </div>
                <div class="gallery">
                    <a target="_blank" href="https://raw.github.com/NoSpread/eu_media/master/Freigegeben/Flyer/4x6/flyer_illegal_4x.pdf">
                        <img src="{{ absolute_url(asset('build/static/gallery/flyer_illegal_4x.png')) }}" alt="flyer_illegal_4x.pdf" width="300" height="200">
                    </a>
                    <div class="desc"><span class="flag-icon flag-icon-de"></span> <span class="label danger">PDF</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
