<div class="col">
    <div class="gallery">
        <a target="_blank" href="/build/static/gallery/files/{{ image.name }}">
            <span class="flag-icon flag-icon-{{ image.langcode }}"></span>
            <img src="/build/static/gallery/preview/{{ image.thumb}}" alt="{{ image.name }}" width="300" height="200">
        </a>
        <!--<div class="desc"><span class="label danger">{% trans %}gallery_download_pdf{% endtrans %}</span></div>-->
    </div>
</div>
