<div class="container section-article-thirteen">
    <div class="row">
        <div class="col-12">
            <div class="header">
                <h2 class="title">
                    <span>{% trans %}about_title{% endtrans %}</span>
                </h2>
                <br>
                <br>
                <strong class="about-heading">{% trans %}about_sub_title1{% endtrans %}</strong>
                <p class="about-text">
                    {% trans %}about_sub_text1{% endtrans %}
                </p>
                <br>
                <strong class="about-heading">{% trans %}about_sub_title2{% endtrans %}</strong>
                <p class="about-text">
                    {% trans %}about_sub_text2_1{% endtrans %}
                    <br><br>
                    {% trans %}about_sub_text2_2{% endtrans %}
                </p>
                <br>
                <strong class="about-heading">{% trans %}about_sub_title3{% endtrans %}</strong>
                <p class="about-text">
                    {% trans %}about_sub_text3_1{% endtrans %}
                    <br><br>
                    {% trans %}about_sub_text3_2{% endtrans %}
                </p>
                <br>
                <strong class="about-heading">{% trans %}about_sub_title4{% endtrans %}</strong>
                <p class="about-text">
                    {% trans %}about_sub_text4_1{% endtrans %}
                    <br><br>
                    {% trans %}about_sub_text4_2{% endtrans %}
                </p>
                <br>
                <strong class="about-heading">{% trans %}about_sub_title5{% endtrans %}</strong>
                <p class="about-text">
                    {% trans %}about_sub_text5_1{% endtrans %}
                    <br><br>
                    {% trans %}about_sub_text5_2{% endtrans %}
                    <br><br>
                    <strong>{% trans %}about_sub_text5_strong{% endtrans %}</strong>
                    <br><br>
                    <a>#savetheinternet</a> <a>#saveourinternet</a> <a>#fckart13</a>
                </p>
            </div>
        </div>
    </div>
</div>
