<div class="container section-article-thirteen">
    <div class="row">
        <div class="col-lg-7 col-12">
            <div class="header">
                <h2 class="title">
                    <span>Resources</span>
                </h2>
                <br>
                <h2>-</h2>
            </div>
        </div>
    </div>
</div>
