<div class="mep-main-text">
    <h1 class="white-text">
        {% trans %}mep_heading{% endtrans %}
    </h1>
</div>
<div class="row icon-pair d-flex">
    <div class="col-3 col-lg-2 icon d-flex">
        <img class="smaller-icon" src="{{ asset('build/static/Share.svg') }}">
    </div>
    <div class="col-9 col-sm-9 col-md-9 col-lg-7 text">
        <p class="content">
            {% trans %}mep_text_1{% endtrans %}
            <span class="text-highlighted">{% trans %}mep_text_2{% endtrans %}</span>
        </p>
    </div>
</div>
