<div class="container">

    <div class="row">
        <div class="col-12">
            <h1>{% trans %}about_us_heading{% endtrans %}</h1>
        </div>
    </div>

    <!-- Who are we -->
    {% include 'about_us/components/who-are-we.html.twig' %}

    <!-- What do we want -->
    {% include 'about_us/components/what-do-we-want.html.twig' %}

    <!-- How do we work -->
    {% include 'about_us/components/how-do-we-work.html.twig' %}

    <!-- Where can you find us -->
    {% include 'about_us/components/where-can-you-find-us.html.twig' %}

    <!-- How do we finance ourselves -->
    {% include 'about_us/components/who-do-we-finance-ourselves.html.twig' %}

    <!-- How can you reach us -->
    {% include 'about_us/components/how-can-you-reach-us.html.twig' %}

    <!-- How can I support you -->
    {% include 'about_us/components/how-can-i-support-you.html.twig' %}
</div>
