.about-heading{
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 7px;
}
p.about-text{
    font-style: italic;

    a {
        color: $accent1;
    }
    a:hover{
        color: $text;
    }
}
