@import "../variables";

.article-thirteen {
  margin-top: $vertical-space;
  padding-bottom: 5rem;
  .header {
    .title {
      margin: 0;
      font-size: 3.4em;
      font-weight: 500;
      .highlight {
        color: $accent2;
      }
    }
    .tagline {
      font-size: 1.1em;
      margin: 0;
      font-weight: 500;
    }
  }

  .content-pair {
    margin-top: 30px;
    align-items: center;
    .box-wrapper {
      justify-content: center;
      .box {
        background-color: #b4b4b4;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        padding: 15px 55px;
        width: 250px;
        height: 150px;
        img {
          width: 140px;
          height: auto;
        }
      }
    }
    .text {
      @include media-breakpoint-down(md) {
        margin-top: 15px;
        margin-bottom: 50px;
      }
      .title {
        margin: 0 0 5px 0;
        font-size: 1.5em;
        font-weight: bold;
        .highlight {
          color: $accent1;
        }
      }
      .content {
        margin: 0;
      }
    }
  }

  .box-reddit {
    //background-color: #57fbbc;
  }
  .box-link {
    //background-color: #62d1fd;
  }
  .box-pepe {
    //background-color: #ff817c;
  }
}
