.gallery-grid {
    .gallery {
        margin-bottom: 25px;
        border: 1px solid #ccc;
        width: 250px;

        &:hover {
            border: 1px solid #777;
        }

        a {
            position: relative;
            display: block;

            img {
                width: 100%;
                height: auto;

                &:hover {
                    background: #0f1c33;
                    opacity: 0.35;
                }
            }

            .flag-icon{
                position: absolute;
                top: 5px;
                right: 5px;
            }
        }
    }

    .desc {
        padding: 15px;
        text-align: center;
    }
}
