div.gallery {
    margin: 0 auto;
    border: 1px solid #ccc;
    float: left;
    min-width: 180px;
    max-width: 320px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
    margin-top: -20px;
}

div.gallery a span.flag-icon{
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

div.desc {
    padding: 15px;
    text-align: center;
}
