{% extends 'base.html.twig' %}

{% block title %}Save the Internet{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{{ path('index') }}">{% trans %}Save the Internet!{% endtrans %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="my-2 my-lg-0 dropdown">
                    <a class="nav-link dropdown-toggle" id="language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Language{% endtrans %}</a>
                    <div class="dropdown-menu" aria-labelledby="language">
                        {% for locale in locales %}
                            <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'),  app.request.attributes.get('_route_params')|merge({'locale': locale})) }}">{{ locale|trans }}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="backdrop">
        <div class="content">
            <section class="page page--1">
                <div class="page__title">
                    <b>Save</b>the<b>Internet</b>
                </div>
                <div class="page__subtitle">
                    <p>The Internet is in danger. Learn more about <wbr> how you can save it.</p>
                </div>
            </section>
        </div>
    </div>

{% endblock %}
