<div class="container section-article-thirteen">
    <div class="row">
        <div class="col-lg-7 col-12">
            <div class="header">
                <h2 class="title">
                    <span>Privacy Policies</span>
                </h2>
                <br>
                <p>-</p> 
                <br>
            </div>
        </div>
    </div>
