@import 'shared/langpicker';
@import 'shared/sharebuttons';
@import 'shared/footer';
@import 'shared/video-player';
@import 'shared/navigation';

html {
    height: 100vh;
}

body {
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

b,
strong {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

* {
    line-height: 1.5em;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none !important;
}

html,
body {
    box-sizing: border-box;
    font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
    margin: 0;
    height: auto;
    min-height: 100vh;
    color: $text;
    background-color: $background;
}

a {
    outline: none !important;
    &.highlight {
        text-decoration: none;
        color: #ffbf00;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 7px;
}

.btn {
    padding: 10px;
    border: 1px solid $text;
    color: $text_invert;
    cursor: pointer;

    &.btn-light {
        color: $text_invert;
        background: $background_invert;
        border-color: $text_invert;
    }
}

* {
    letter-spacing: 0.04em;
}

.flex-grow {
    flex-grow: 1;
}

.label {
    color: white;
    padding: 6px;
    border-radius: 13px;
}

.success {
    background-color: #4caf50;
} /* Green */
.info {
    background-color: #2196f3;
} /* Blue */
.warning {
    background-color: #ff9800;
} /* Orange */
.danger {
    background-color: #f44336;
} /* Red */
.other {
    background-color: #e7e7e7;
    color: black;
} /* Gray */
