@import "variables";
@import "shared/langpicker";
@import "shared/footer";

body {
  padding-top: 50px;
  font-family: 'Raleway', sans-serif;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

b,
strong {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none !important;
}

html,
body {
  box-sizing: border-box;
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 400;
  margin: 0;
  height: auto;
  min-height: 100vh;
  color: $text;
  background-color: $background;
}

body {
  padding-bottom: 5rem;
}

a {
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.btn {
  padding: 10px;
  border: 1px solid $text;
  color: $text_invert;
  cursor: pointer;

  &.btn-light {
    color: $text_invert;
    background: $background_invert;
    border-color: $text_invert;
  }
}
