@import "~bootstrap/scss/bootstrap-grid";
@import "raleway";

$background: #12233f;
$text: #fafafa;
$accent1: #ffbf00;
$accent2: #142E4D;
$accent3: #b9d6f2;

$text_invert: $background;
$background_invert: $text;

$vertical-space: 75px;
