@import "~bootstrap/scss/bootstrap-grid";
@import "raleway";

$background: #212121;
$background_invert: #fbfbfb;
$text: #fbfbfb;
$text_invert: #212121;
$accent1: #b9d6f2;
$accent2: #ffbf00;
//$accent1: #1CD0CA;
//$accent2: #E2002B;

$vertical-space: 50px;
