* {
    cursor: url(./img/easteregg/schmusercursor.png), auto !important;
}

img {
    content: url("./img/easteregg/neigschaut.png");
}

.header-wrapper .header .title-wrapper {
    background-color: transparent !important;
}

.title-wrapper {
    content: url("./img/easteregg/banner.png") !important;
}

#particleCanvas {
    pointer-events: none;
    z-index: 99;
	position: fixed;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
	//background: rgba(30, 30, 50, 1);
}