@import "../../variables";

.graphic-box {
  margin-top: $vertical-space;
  .voxel-wrapper {
    justify-content: center;
    text-align: center;
    max-width: 100%;
    .voxel {
      max-width: 60%;
      @include media-breakpoint-down(sm) {
        max-width: 90%;
      }
    }
  }

  .text {
    .title {
      margin-bottom: 0;
    }
    .container {
      padding: 0;
    }
  }
}