@import "../../variables";

.header-wrapper {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 60vh;
        background: url('../../../img/world.svg') no-repeat top center;
        background-size: auto 60vh;
        .title-wrapper {
            background-color: $text;
            padding: 4px 12px;
            transform: skew(-3deg, 0.5deg) translate3d(0,0,0);
            text-align: center;
            a {
                text-decoration: none;
                user-select: none;
            }

            .title {
                font-weight: bold;
                letter-spacing: 0;
                font-size: 5em;
                color: $background;
                margin: 0;
                transform: skew(3deg, 0.5deg);
                i {
                    letter-spacing: 0;
                    font-style: normal;
                    font-weight: 300;
                }
            }
        }
        .tagline {
            text-align: center;
            font-weight: 500;
            font-size: 1.5em;
            max-width: 590px;
            margin: 13px 0;
        }
    }
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .header-wrapper .header .title-wrapper .title {
        font-size: 3.5em !important;
    }
}
