@import "../../variables";

.header-wrapper {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 60vh;
        background: url('../../../img/world.svg') no-repeat top center;
        background-size: auto 60vh;
        .title-wrapper {
            background-color: $text;
            padding: 4px 12px;
            transform: skew(-3deg, 0.5deg) translate3d(0,0,0);
            text-align: center;
            a {
                text-decoration: none;
                user-select: none;
            }

            .title {
                @include media-breakpoint-up(md) {
                    display: flex;
                    flex-direction: row;
                }

                font-weight: bold;
                letter-spacing: 0;
                font-size: 5em;
                color: $background;
                margin: 0;
                transform: skew(3deg, 0.5deg) translateZ(0);
                i {
                    letter-spacing: 0;
                    font-style: normal;
                    font-weight: 300;
                }

                #typed {
                    font-weight: 300;
                }
                .typed-cursor {
                    font-weight: 200;
                }
                .save {
                    margin-right: 4px;
                }
                .internet {
                    margin-left: -6px;
                }

            }

            .btn-petition {
                padding: 15px 30px;
                background: $accent1;
                color: $background;
                text-decoration: none;
                border-radius: 25px;
            }
    
            .btn-petition:hover {
                background: lighten($accent1, 10);
            }
    
            .description {
                font-size: 1.2em;
            }
    
            .action {
                text-align: center;
                font-size: 1.1em;
                margin-top: 65px;
            }
        }
        .tagline {
            text-align: center;
            font-weight: 500;
            font-size: 1.5em;
            max-width: 590px;
            margin: 13px 0;
        }
    }

    .btn-petition {
        padding: 15px 30px;
        background: $accent1;
        color: $background;
        text-decoration: none;
        border-radius: 25px;
    }

    .btn-petition:hover {
        background: lighten($accent1, 10);
    }
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .header-wrapper .header .title-wrapper .title {
        font-size: 3.5em !important;
    }
}

@media (max-width: 768px){ 
    .header-wrapper .header{
        padding: 25px 0;
    }
}
