@import "../../variables";

.section-petition {
    padding-top: 25px;
    margin-top: $vertical-space;
    background-size: cover;

    .header {
        font-size: 2.25em;
        margin-bottom: 15px;
        width: 100%;
    }

    .body {
        .btn-petition {
            padding: 15px 30px;
            background: $accent1;
            color: $background;
            text-decoration: none;
            border-radius: 25px;
        }

        .btn-petition:hover {
            background: lighten($accent1, 10);
        }

        .description {
            font-size: 1.2em;
        }

        .action {
            text-align: center;
            font-size: 1.1em;
            margin-top: 65px;
        }
    }
}

@media (max-width: 768px) {
.section-petition {
  text-align: center;
}
