@import "../../variables";

.section-petition {

  padding-top: 50px;
  padding-bottom: 100px;
  margin-top: $vertical-space;
  margin-bottom: 0;

  .image {
    width: 20em;
    height: 20em;
    background: url("../../../img/TextBlattIcon.svg") no-repeat top center;
    background-size: cover;
    margin-top: -40px;
    padding: 0 !important;
  }

  @include media-breakpoint-down(lg) {
    .image {
      display: none;
    }
  }

  .header {
    font-size: 3em;
    width: 100%;
    color: $accent2;
    text-align: center;
    margin: 0 auto;
  }

  .body {
    margin-top: 30px;
    color: $accent2;

    .btn-petition {
      padding: 15px 30px;
      background: $accent2;
      color: $text_invert;
      text-decoration: none;
      border-radius: 25px;
    }

    .btn-petition:hover {
      background: lighten($accent2, 10);
    }

    .description {
      margin-top: 3em;
      text-align: center;
    }

    @include media-breakpoint-up(md) {
      .description {
        text-align: right;
      }
      .header {
        text-align: right;
      }
    }

    .action {
      text-align: center;
      margin-top: 6em;
    }
  }

}