@import "../../variables";

.section-video {
  margin-top: $vertical-space;
  margin-bottom: $vertical-space;

  display: flex;
  justify-content: center;
  align-items: center;
  .vimeo-video {
    max-width: 800px;
    width: 100%;
    height: auto;
  }
}
