@import "../../variables";

.section-what-do {
  margin-top: $vertical-space;
  padding-bottom: 5rem;
}

.icon-pair {
  margin-bottom: 25px;
  align-items: center;

  .icon {
    justify-content: center;
    opacity: 0.9;
    img {
      width: 120px;
      height: 120px;
    }
  }

  .text {
    .title {
      margin: 0 0 5px 0;
    }
    .content {
      margin: 0;
    }
  }
}
