<div class="vimeo-video">
    <div class="responsive-video" data-video-src="https://player.vimeo.com/video/{{ id }}?color=e6430a">
        <iframe class="hidden" src="" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <div class="consent hidden">
            <div class="item">
                {% block consent %}
                    <h3>Please consent</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
                {% endblock %}
                <button class="btn btn-light consent-btn">{% block btn_consent %}I consent{% endblock %}</button>
            </div>
        </div>
    </div>
</div>