.section-footer {
    padding-top: 5px;
    width: 100%;
    font-size: 0.7em;
    padding: 0 1rem;
    background-color: darken($background, 3);
    display: flex;
    margin-top: 7rem;

    a {
        color: $accent1;
        text-decoration: none;

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    .copyright {
        padding: 1rem 2rem;
        margin-top: 17px;
    }

    .social {
        margin: 17px 1rem 0;

        a {
            display: inline-block;
            margin: 1rem;
        }
    }

    .flex-grow{
        padding-top: 5px;
        table{
            margin: 0 auto;

            tbody{
                tr{
                    td:last-child{
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .section-footer .copyright p {
        text-align: center;
        padding: 0;
    }
}

@media (max-width: 600px) {
    .section-footer {
        flex-direction: column;
    }
}
