#sharecontainer ul {
    position: absolute;
    top: 0;
    margin-right: 10px;
    list-style: none;
    margin-left: -20px;
    margin-top: 13px;
    z-index: 100;
}

#sharecontainer li {
    display: inline-block;
    padding-right: 5px;
    font-size: 1.2em;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#sharecontainer li a {
    color: white;
    text-decoration: none;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transition: color 0.5s ease;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#sharecontainer li a:hover {
    color: #ffbf00;
}
