<div class="section-footer">
    <div class="copyright">
    <p>&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> - <a href="/">savetheinternet.info</a></p>
  </div>
  <div class="social">
    <a href="/imprint" class="footer-imprint">Imprint</a>
    <a href="/privacy" class="footer-privacy">Privacy&nbsp;Policy</a>
    <a href="https://github.com/Insax/savetheinternet" rel="noopener" target="_blank" class="footer-github">GitHub</a>
  </div>
</div>
