<div class="flex-grow"></div>
  <div class="section-footer">
    <div class="copyright">
    &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> - <a href="/">savetheinternet.info</a>
  </div>
  <div class="flex-grow"></div>
  <div class="social">
    <a href="/about" class="footer-about">{% trans %}about_link{% endtrans %}</a>
    <a href="/imprint" class="footer-imprint">{% trans %}imprint_link{% endtrans %}</a>
    <a href="/privacy" class="footer-privacy">{% trans %}privacy_link{% endtrans %}</a>
    <a href="https://github.com/Insax/savetheinternet" rel="noopener" target="_blank" class="footer-github">GitHub</a>
  </div>
</div>
