<div class="container-fluid header-wrapper">
    <div class="row">
        <div class="col-12 header">
            <div class="title-wrapper">
                <h1 class="title">Save<i>the</i><br class="d-block d-md-none">Internet</h1>

            </div>
            <p class="tagline">The Internet is in danger. Learn more about how you can save it.</p>
        </div>
    </div>
</div>
