<div class="container-fluid header-wrapper">
    <div class="row">
        <div class="col-12 header">
            <div class="title-wrapper">
                <h1 class="title">Save<i>the</i><br class="d-block d-md-none">Internet</h1>

            </div>
            <p class="tagline">{% trans %}header_tagline{% endtrans %}</p>
        </div>
    </div>
</div>
