<div class="container-fluid header-wrapper">
    <div class="row">
        <div class="col-12 header">
            <div class="title-wrapper">
                <a href="/">
                    <!-- Typewriter -->
                    <span class="title">Save{% include 'shared/typewriter.html.twig' %}Internet</span>
                    <!--<h1 class="title">Save<i>the</i><br class="d-block d-md-none">Internet</h1>-->
                </a>
            </div>
            <p class="tagline">{% trans %}header_tagline{% endtrans %}</p>
        </div>
    </div>
</div>
