<!-- Language Switcher -->
<div class="container" id=lang">
  <label for="check">Language</label>
  <input id="check" type="checkbox">
  <div id="langcontainer">
    <ul>
      <li><span class="flag-icon flag-icon-gb"></span></li>
      <li><span class="flag-icon flag-icon-de"></span></li>
      <li><span class="flag-icon flag-icon-fr"></span></li>
      <li><span class="flag-icon flag-icon-cn"></span></li>
    </ul>
  </div>
</div>
