{% set currentLocale = app.request.attributes.get('_locale') %}
<div class="langdropdown">
    <a class="language-trigger nav-link">
        <span class="flag-icon flag-icon-{{ localeCodes[currentLocale][1]|lower }}"></span>
    </a>
    <ul class="mr-auto dropdown">
        {% for locale in locales %}
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path(app.request.attributes.get('_route'),  app.request.attributes.get('_route_params')|merge({'_locale': locale})) }}"
                   hreflang="{{ locale }}">
                    <span class="flag-icon flag-icon-{{ localeCodes[locale][1]|lower }}"></span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
