<nav class="navbar fixed-top">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="float-left">
            {% include 'shared/sharebuttons.html.twig' %}
        </div>
        <div class="float-right">
            <div id="langcontainer">
                {% include 'shared/langpicker.html.twig' %}
            </div>
        </div>
    </div>
</nav>
