<!-- Share buttons -->
<div id="sharecontainer">
    <ul>
        <li>
            <span>{% trans %}share_on{% endtrans %}</span>
        </li>
        <li>
            <a href="http://facebook.com">
                <i class="fa fa-facebook-square"></i>
            </a>
        </li>
        <li>
            <a href="http://twitter.com">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
    </ul>
</div>
