<!-- Share buttons -->
<div id="sharecontainer">
    <ul>
        <li>
            <span>{% trans %}share_on{% endtrans %}</span>
        </li>
        <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//savetheinternet.info/" target="_blank">
                <i class="fa fa-facebook-square"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/home?status=Safe%20the%20internet!%0Ahttps%3A//savetheinternet.info/" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://plus.google.com/share?url=https%3A//savetheinternet.info/" target="_blank">
                <i class="fa fa-google-plus"></i>
            </a>
        </li>
    </ul>
</div>
