<!-- Share buttons -->
<div id="sharecontainer">
    <ul>
        <li>
            <a href="https://www.facebook.com/Savetheinternet.info/" target="_blank">
                <i class="fa fa-facebook-square"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/DeleteArt13" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/savetheinternetpetition/" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
    </ul>
</div>
