<div class="container-fluid typewriter-wrapper">
    <div class="row">
        <div class="col-12 typewriter">
            <div class="wrapper">
                <div id="typed-strings">
                    <p>{% trans %}typewriter_1{% endtrans %}</p>
                    <!-- Don't remove this else the writer breaks with the translation -->
                    <p></p>
                    <p>{% trans %}typewriter_2{% endtrans %}</p>
                </div>
                <span id="typed"></span>
            </div>
        </div>
    </div>
</div>
