<div id="typed-strings" style="display: none;">
    <i>{% trans %}typewriter_1{% endtrans %}</i>
    <!-- Don't remove this else the writer breaks with the translation -->
    <i></i>
    <i>{% trans %}typewriter_2{% endtrans %}</i>
    <!-- Don't remove this else the writer breaks with the translation -->
    <i></i>
    <i>{% trans %}typewriter_3{% endtrans %}</i>
</div>
<span id="typed"></span>