<div id="typed-strings" style="display: none;">
    {# <i>{% trans %}typewriter_1{% endtrans %}</i>
    <i>{% trans %}typewriter_2{% endtrans %}</i>
    <i>{% trans %}typewriter_3{% endtrans %}</i> #}
    <i>^200 the</i>
    <i>^200 your</i>
    <i>^200 our</i>
    <i>^200 her</i>
    <i>^200 his</i>
    <i>^200 their</i>
</div>
<span id="typed"></span>
