<div class="container section-article-thirteen">
    <div class="row">
        <div class="col-lg-7 col-12">
            <div class="header">
                <h2 class="title">
                    <span>Imprint</span>
                </h2>
                <br>
                <p>Lappenz GmbH</p> 
                <p>Gerresheimer Landstrasse 172</p>
                <p>40627 Düsseldorf</p>
                <p>Germany</p> 
                <br>
                <p>Tel.: +4921154256000</p>
                <p>E-Mail: info@lappenz.com</p>
                <br>
                <p>Register court: District Court Düsseldorf (Amtsgericht Düsseldorf)</p>
                <p>Registration number: HRB 80986 </p>
                <br>
                <p>Managing Director: Simon C. Jung</p>
                <br>
                <p>Sales tax identification number according to § 27 a - sales tax law: DE312603990</p>
                <br>
                <p>Platform of the European Commission for online dispute resolution: <a href="http://ec.europa.eu/consumers/odr">http://ec.europa.eu/consumers/odr</a></p>
                <br>
                <p>We are neither obligated nor willing to take part in a Dispute Resolution before Independent Consumer Arbitration Service.</p>
            </div>
        </div>
    </div>
