<div class="container section-article-thirteen">
    <div class="row">
        <div class="col-lg-7 col-12">
            <div class="header">
                <h2 class="title">
                    <span>Imprint</span>
                </h2>
                <br>
                <p>Savetheinternet.info</p>
                <p>Stephan Wolligandt</p>
                <p>Gerresheimer Landstrasse 172</p>
                <p>40627 Düsseldorf</p>
                <p>Germany</p>
                <br>
                <p>Tel.: 0049 (0)163 6701632</p>
                <p>E-Mail: info@savetheinternet.info</p>
                <br>
                <p>Platform of the European Commission for online dispute resolution: <a class="imprint-eu-link" href="http://ec.europa.eu/consumers/odr">http://ec.europa.eu/consumers/odr</a></p>
                <br>
                <p>We are neither obligated nor willing to take part in a Dispute Resolution before Independent Consumer Arbitration Service.</p>
            </div>
        </div>
    </div>
</div>
